.tab-content {
	padding-top: 20px;
}

.label-spaced {
	margin-right:5px;
	margin-bottom:5px !important;
	display:inline-block;
}

#warning-create, #warning-update, #update-btn, #create-btn {
	display: none;
}

#generate-mode-section.createMode #warning-create, #generate-mode-section.createMode #create-btn {
	display: block;
}

#generate-mode-section.updateMode #warning-update,#generate-mode-section.updateMode #update-btn {
	display: block;
}

#generate-mode-section.updateMode .btn {
	background-color: #f99527;
}

#missingAddons, #generate-mode-section.createMode #missingAddons {
	display: none;
}

#missingAddons.missing {
	display: block;
}

#visitOfxAddons, .input-info {
	display: block;
	font-size: 0.8em;
	color: grey;
	display: none;
}

.formElement:last-child, #missingAddons:last-child, .formElement#addonsForm {
	padding-bottom: 0;
	margin-bottom: 0;
}

#missingAddons {
	margin-top: 20px;
}

.info-message{
	padding-top: 20px;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
	background-color: #333;
}

