# Some general ignore patterns
build/
obj/
*.o
Debug*/
Release*/
*.mode*
*.app/
*.pyc
.svn/
 
 
#XCode
*.pbxuser
*.perspective
*.perspectivev3
*.mode1v3
*.mode2v3
#XCode 4
xcuserdata
*.xcworkspace
 
#Code::Blocks
*.depend
*.layout
 
#Visual Studio
*.sdf
*.opensdf
*.suo
ipch/
 
#Eclipse
.metadata
local.properties
.externalToolBuilders
 
 
# OS-specific ignore patterns
 
#Linux
*~
# KDE
.directory
 
#OSX
.DS_Store
*.swp
*~.nib
# Thumbnails
._*
 
#Windows
# Windows image file caches
Thumbs.db
# Folder config file
Desktop.ini
 
#Android
.csettings
/libs/openFrameworksCompiled/project/android/paths.make
 
# Miscellaneous
.mailmap
node_modules

#PG electron
dist/
settings.json
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon


# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

commandLine/bin/projectGenerator*
frontend/app/projectGenerator*

commandLine/.vs/commandLine/xs
