name: build-macos

on:
  push:
    paths-ignore:
    - '**/README.md'
  pull_request:
    paths-ignore:
    - '**/README.md'
    
jobs:

  build-osx:
    runs-on: macos-10.15
    strategy:
        matrix:
          cfg:
          - {target: osx}
    env:
     TARGET: ${{matrix.cfg.target}}
    steps:
    - uses: actions/checkout@v2
    - name: rm-dev
      run: sudo rm -rf /Library/Developer
    - name: Install npm
      run: npm install -g npm@'=6.3.0';
    - name: Build
      run:
        scripts/ci/osx/buildPG.sh;
      env:
        DEVELOPER_DIR: "/Applications/Xcode_12.2.app/Contents/Developer"
        SDKROOT: "/Applications/Xcode_12.2.app/Contents/Developer/Platforms/MacOSX.platform/Developer/SDKs/MacOSX.sdk"
        GA_CI_SECRET: ${{ secrets.CI_SECRET }}
        CERTIFICATE_OSX_APPLICATION: ${{ secrets.CERTIFICATE_OSX_APPLICATION }}
        CERTIFICATE_PASSWORD: ${{ secrets.CERTIFICATE_PASSWORD }}

