name: build-linux

on:
  push:
    paths-ignore:
    - '**/README.md'
  pull_request:
    paths-ignore:
    - '**/README.md'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  ccache: ccache

jobs:
  build-linux:
    runs-on: ubuntu-24.04
    strategy:
      matrix:
        cfg:
        - {target: linux}
    env:
     TARGET: ${{matrix.cfg.target}}
    steps:
    - name: Install libunwind
      run:  sudo apt-get install libunwind-dev
    - uses: actions/checkout@v4
    - name: ccache
      uses: hendrikmuhs/ccache-action@v1.2.12
      with:
        # key: ${{ matrix.os }}-${{ matrix.type }}
        key: ${{ matrix.os }}-${{ matrix.cfg.target }}
    - name: Install
      run:
        ./scripts/linux/ci_install_core.sh
    - name: Build
      run:
        ./scripts/linux/buildPG.sh;
      env:
        GA_CI_SECRET: ${{ secrets.CI_SECRET }}
