name: build-macos

on:
  push:
    paths-ignore:
    - '**/README.md'
  pull_request:
    paths-ignore:
    - '**/README.md'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build-osx:
    runs-on: macos-12
    strategy:
      matrix:
        cfg:
        - {target: osx}
    env:
     TARGET: ${{matrix.cfg.target}}
    steps:
    - name: pwd
      run: pwd

    # steps:
    # - uses: actions/checkout@v3
    # - name: Cache OF
    #   id: cache-of
    #   uses: actions/cache@v3
    #   env:
    #     cache-name: cache-keep-of
    #   with:
    #     path: |
    #       /Users/runner/work/projectGenerator/openFrameworks/**
    #     key: ${{ runner.os }}-${{matrix.cfg.opt}}-${{ env.cache-name }}-${{ hashFiles('openFrameworks/**/*.cpp') }}
    #     restore-keys: |
    #       ${{ runner.os }}-${{matrix.cfg.opt}}-${{ env.cache-name }}-
    # - name: rm-dev
    #   run: sudo rm -rf /Library/Developer
    # - name: Build
    #   run:
    #     ./scripts/osx/buildPG.sh;
    #   env:
    #     DEVELOPER_DIR: "/Applications/Xcode_13.4.1.app/Contents/Developer"
    #     SDKROOT: "/Applications/Xcode_13.4.1.app/Contents/Developer/Platforms/MacOSX.platform/Developer/SDKs/MacOSX.sdk"
    #     # DEVELOPER_DIR: "/Applications/Xcode_14.2.app/Contents/Developer"
    #     # SDKROOT: "/Applications/Xcode_14.2.app/Contents/Developer/Platforms/MacOSX.platform/Developer/SDKs/MacOSX.sdk"
    #     GA_CI_SECRET: ${{ secrets.CI_SECRET }}
    #     CERTIFICATE_OSX_APPLICATION: ${{ secrets.CERTIFICATE_OSX_APPLICATION }}
    #     CERTIFICATE_PASSWORD: ${{ secrets.CERTIFICATE_PASSWORD }}
    #     GA_APPLE_USERNAME: ${{ secrets.GA_APPLE_USERNAME }}
    #     GA_APPLE_PASS: ${{ secrets.GA_APPLE_PASS }}
    #     GA_NOTARIZE_PROVIDER: ${{ secrets.GA_NOTARIZE_PROVIDER }}
